---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Typography from '../Typography.astro';

interface Talent {
  id: number;
  attributes: {
    image: {
      src: string;
      alt: string;
    };
    title: string;
    technologies: string;
    description: string;
  };
}

interface Props {
  class?: string;
  talent: Talent;
}

const {
  talent: { attributes },
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/landing/*.webp');
---

<article
  class:list={[
    'swiper-slide !flex !h-auto flex-col gap-5 rounded-xl bg-white px-5 py-10',
    Astro.props.class,
  ]}
>
  <div>
    <Image
      class="mx-auto h-[103px] w-[103px] rounded-full"
      alt={attributes.image.alt}
      src={images[attributes.image.src]()}
    />
  </div>

  <Typography class="mt-auto text-center text-primary" as="p" variant="accent">
    {attributes.title}
  </Typography>

  <div class="mt-auto flex flex-col gap-5">
    <Typography class="line-clamp-[10] text-center text-primary" as="p" variant="paragraph2">
      {attributes.technologies}
    </Typography>

    <Typography class="line-clamp-[10] text-center text-primary" as="p" variant="paragraph2">
      {attributes.description}
    </Typography>
  </div>
</article>
