---
import { Image } from 'astro:assets';
import CardCTA from './CardCTA.astro';
import Typography from './Typography.astro';
import { getLangFromUrl, useTranslatedPath } from '@/i18n/utils';

interface Props {
  altText?: string;
  class?: string;
  height: number;
  href: string;
  img: string;
  linkText: string;
  title: string;
  width: number;
  ariaLabel?: string;
  isSwiperCard?: boolean;
}

const {
  title,
  img,
  altText = '',
  linkText,
  href,
  width,
  height,
  ariaLabel = '',
  isSwiperCard = true,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<article
  class:list={[
    'my-2 !flex !h-auto flex-col rounded-xl bg-white',
    Astro.props.class,
    {
      'swiper-slide': isSwiperCard,
    },
  ]}
>
  <picture class="rounded-t-xl">
    <Image
      class="h-auto w-full rounded-t-xl"
      src={img}
      alt={altText}
      width={width}
      height={height}
    />
    {isSwiperCard && <div class="swiper-lazy-preloader" />}
  </picture>

  <div class="mt-auto p-5 text-center">
    <Typography class="line-clamp-2 text-primary" as="p" variant="accent">
      {title}
    </Typography>

    <CardCTA
      class="mt-2.5"
      href={translatePath(href, lang)}
      text={linkText}
      ariaLabel={ariaLabel}
    />
  </div>
</article>
