---
import Typography from './Typography.astro';
import type { Reference } from '@/types/Reference';

interface Props extends Reference {
  class?: string;
}
---

<article
  class:list={[
    'swiper-slide !flex !h-auto flex-col gap-5 rounded-xl bg-white px-5 py-10',
    Astro.props.class,
  ]}
>
  <div>
    <img
      class="mx-auto h-[100px] w-[100px] rounded-full"
      alt={Astro.props.imgAlt}
      src={Astro.props.img}
    />
  </div>

  <Typography class="line-clamp-6 text-center text-primary" as="p" variant="paragraph2">
    {Astro.props.review}
  </Typography>

  <div class="mt-auto">
    <Typography class="mt-auto text-center text-primary" as="p" variant="accent">
      {Astro.props.name}
    </Typography>

    <Typography class="line-clamp-2 text-center tracking-wide text-grayish" as="p" variant="accent">
      {Astro.props.occupation}
    </Typography>
  </div>
</article>
