---
import { marked } from 'marked';
import RecentlyPosted from '@/components/RecentlyPosted.astro';
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import type { Button } from '@/types/strapi/Article';
import Typography from '@/components/Typography.astro';

interface Props {
  id: number;
  content: string;
  button?: Button[];
}

const { content, id, button } = Astro.props;

const parsedContent = marked(content);
const rawButtonLink = button && button?.length > 0 ? button[0]?.link?.trim() : '';
const normalizedButtonLink =
  rawButtonLink && /^https?:\/\//i.test(rawButtonLink) ? rawButtonLink : `https://${rawButtonLink}`;
---

<ResponsiveContainer class="flex flex-col gap-10 xl:flex-row xl:gap-40">
  <div>
    <article class="blog-content text-[#4f4f4f]" set:html={parsedContent} />
    {
      button && button?.length > 0 && (
        <button class="mx-auto  flex rounded-md bg-primary px-4 py-2 text-white">
          <a href={normalizedButtonLink} target="_blank" rel="noopener noreferrer">
            <Typography variant="h5" as="span">
              {button[0].label}
            </Typography>
          </a>
        </button>
      )
    }
  </div>

  <RecentlyPosted id={id} />
</ResponsiveContainer>
