---
import ArticleCard from '../components/ArticleCard.astro';
import ResponsiveContainer from '@/components/ResponsiveContainer.astro';
import Typography from '@/components/Typography.astro';
import fetchApi from '@/lib/strapi';
import type { ArticleCollection } from '@/types/strapi/Article';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const articles = await fetchApi<ArticleCollection>({
  endpoint: 'articles',
  params: {
    locale: Astro.currentLocale,
    fields: ['title', 'description', 'content', 'slug'],
    populate: {
      category: {
        fields: ['name'],
      },
      author: {
        fields: ['name'],
      },
      image: {
        fields: ['url', 'width', 'height', 'formats'],
      },
    },
    filters: {
      status: {
        $eq: 'published',
      },
      title: {
        $notNull: true,
      },
    },
    pagination: {
      start: 0,
      limit: 2,
    },
    sort: {
      createdAt: 'desc',
    },
  },
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ResponsiveContainer>
  <Typography class="mb-10 text-center capitalize text-primary" as="h2" variant="h2">
    {t('common.featured-article')}
  </Typography>

  <div class="flex flex-col gap-5 md:flex-row md:gap-10">
    {
      articles.data.map(
        ({
          attributes: {
            image: {
              data: [image],
            },
            ...article
          },
        }) => (
          <ArticleCard
            isSwiperCard={false}
            altText={article.title}
            class="shadow-md"
            href={`/blog/${article.slug}`}
            height={image.attributes.height}
            img={image.attributes.url}
            linkText={t('common.read-more')}
            title={article.title}
            width={image.attributes.width}
            ariaLabel={`${t('aria.link-to-blog-post')}: "${article.title}"`}
          />
        )
      )
    }
  </div>
</ResponsiveContainer>
