---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { getImageUrl } from '@/utils/imageUrl';
import Typography from '@/components/Typography.astro';
import type { Hero } from '@/types/strapi/Hero';
import { getLangFromUrl } from '@/i18n/utils';

interface Props extends Hero {}

const { title, subtitle, image } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/landing/*.webp');
---

<section
  class={`relative -mt-[var(--header-height)] h-fit w-full bg-secondary bg-cover bg-center bg-no-repeat p-4 pt-[var(--header-height)] text-white ${lang === 'es' ? 'xs:h-[850px]  xl:h-[780px]' : 'sm:h-[680px] xl:h-[780px]'} md:bg-hero md:px-5 lg:px-10 lg:pb-[var(--header-height)] min-[1546px]:px-0`}
>
  <div
    class="absolute inset-0 z-10 bg-gradient-to-b from-transparent to-primary md:to-primary-with-transparency"
  >
  </div>

  <div
    class="relative z-10 mx-auto hidden h-full w-full items-center rounded-xl 2xl:container sm:flex sm:gap-10 sm:bg-secondary"
  >
    <div class="gap-4 sm:pl-8 lg:pl-14 xl:pl-[100px]">
      <Typography class="font-bold capitalize" as="h1" variant="h1">
        {title}
      </Typography>

      {
        subtitle && (
          <Typography class="my-10 uppercase !text-white" as="p" variant="h6">
            {subtitle}
          </Typography>
        )
      }

      <Image
        class="my-5"
        alt="Clutch rating reviews"
        src={images['/src/assets/landing/Clutch.webp']()}
      />

      <slot name="button" />
    </div>

    <div class="ml-auto flex flex-shrink-0 justify-end place-self-end">
      <Image
        class="h-auto max-h-[500px] w-full"
        src={getImageUrl(image.data.attributes.url)}
        width={image.data.attributes.width}
        height={image.data.attributes.height}
        alt={image.data.attributes.alternativeText}
      />
    </div>
  </div>

  <Typography class="relative z-20 font-bold capitalize sm:hidden" as="h1" variant="h1">
    {title}
  </Typography>

  {
    subtitle && (
      <Typography class="relative z-20 my-10 uppercase !text-white sm:hidden" as="p" variant="h6">
        {subtitle}
      </Typography>
    )
  }

  <div class="relative z-20 flex items-center sm:hidden">
    <div class="flex flex-shrink-0 flex-grow place-content-center">
      <slot name="button" />
    </div>

    <div class="flex basis-1/2 place-content-end">
      <Image
        class="h-auto w-full max-w-[349px]"
        src={getImageUrl(image.data.attributes.url)}
        width={image.data.attributes.width}
        height={image.data.attributes.height}
        alt={image.data.attributes.alternativeText}
      />
    </div>
  </div>
</section>
