---
import CarouselSection from './CarouselSection.astro';
import ArticleCard from '@/components/ArticleCard.astro';
import LinkPill from '@/components/LinkPill.astro';
import fetchApi from '@/lib/strapi';
import type { Background } from '@/types/Background';
import type { ProjectCollection } from '@/types/strapi/Project';
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';

interface Props {
  title: string;
  background?: Background;
  hideAllProjects?: boolean;
  projectId?: number;
  categoryId?: number;
}

const projects = await fetchApi<ProjectCollection>({
  endpoint: 'projects',
  params: {
    locale: Astro.currentLocale,
    fields: ['title', 'description', 'details', 'slug'],
    populate: {
      images: {
        fields: ['url', 'formats', 'width', 'height'],
      },
    },
    filters: {
      id: {
        $ne: Astro.props.projectId,
      },
      status: {
        $eq: 'published',
      },
      title: {
        $notNull: true,
      },
      project_types: {
        id: {
          $eq: Astro.props.categoryId,
        },
      },
    },
    pagination: {
      limit: Astro.props.categoryId ? -1 : 8,
    },
    sort: {
      createdAt: 'desc',
    },
  },
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const translatePath = useTranslatedPath(lang);

const { hideAllProjects = false } = Astro.props;
---

<CarouselSection background={Astro.props.background} title={Astro.props.title}>
  <Fragment slot="items">
    {
      projects.data.map(
        ({
          attributes: {
            images: {
              data: [image],
            },
            ...project
          },
        }) => (
          <ArticleCard
            altText={project.title}
            class="shadow-md"
            href={`/projects/${project.slug}`}
            height={image.attributes.height}
            img={image.attributes.url}
            linkText={t('common.view-project')}
            title={project.title}
            width={image.attributes.width}
            ariaLabel={`${t('aria.link-to-project-page')}: "${project.title}"`}
          />
        )
      )
    }
  </Fragment>

  {
    !hideAllProjects && (
      <div class="mt-10 text-center">
        <LinkPill variant="contained" href={translatePath('/projects', lang)}>
          {t('common.all-projects')}
        </LinkPill>
      </div>
    )
  }
</CarouselSection>
