---
import { ViewTransitions } from 'astro:transitions';

import '@fontsource/roboto';
import Header from '@/components/Header.astro';
import SEO from '@/components/SEO.astro';
import Footer from '@/sections/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <SEO title={title} description={description} canonical={canonical} image={image} />
    <ViewTransitions />
  </head>
  <body class="w-full overflow-x-hidden bg-fog-white">
    <main>
      <Header />
      <slot />
      <Footer />
    </main>

    <style is:global>
      :root {
        --color-primary: #193174;
        --color-secondary: #27aae1;
        --color-accent: #67daff;
        --color-blue-purple: #797ef6;
        --color-grayish: #a4a4a6;
        --color-slate-gray: #4f4f4f;
        --color-periwinkle: #888dff;
        --color-sky-blue: #a7e4f5;
        --color-fog-white: #fafafa;
        --color-primary-with-transparency: rgba(25, 49, 116, 0.65);
        --color-blue-purple-contrast: #595dc3;
        --header-height: 90px;
      }

      @font-face {
        font-family: 'Nexa Bold';
        src: url('/fonts/Nexa-Bold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Nexa Light';
        src: url('/fonts/Nexa-Light.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: system-ui, 'Nexa Bold', 'Nexa Light', 'Roboto', sans-serif;
        background: #fff;
      }

      .card {
        perspective: 1000px;
      }
      .card-inner {
        @apply relative flex h-full w-full flex-col transition duration-500;
        transform-style: preserve-3d;
      }
      .card:hover .card-inner {
        transform: rotateY(180deg);
      }
      .card-front,
      .card-back {
        @apply absolute inset-0 flex h-full w-full flex-col rounded-lg bg-white shadow-md;
        backface-visibility: hidden;
      }
      .card-back {
        transform: rotateY(180deg);
      }

      article.blog-content {
        *:not(h1, h2, h3, h4, h5, h6, code, pre) {
          @apply font-roboto text-base md:text-xl;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @apply mb-2.5 font-nexaBold text-xl md:text-2xl;
        }

        p {
          @apply mb-8;
        }

        pre {
          @apply mb-8 w-full max-w-full overflow-x-hidden;
        }

        code {
          @apply inline-block w-full max-w-full overflow-x-auto;
        }

        img {
          @apply my-10;
        }

        ul,
        ol {
          @apply mb-10  pl-5 md:pl-10;
          list-style: initial;

          & li {
            @apply mb-2.5;
          }
        }
      }
    </style>
  </body>
</html>
