---
import { ViewTransitions } from 'astro:transitions';

import '@fontsource/roboto';
import Header from '@/components/Header.astro';
import SEO from '@/components/SEO.astro';
import Footer from '@/sections/Footer.astro';

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <SEO title={title} description={description} canonical={canonical} image={image} />
    <ViewTransitions />
  </head>
  <body class="w-full overflow-x-hidden">
    <main>
      <Header />
      <slot />
      <Footer />
    </main>

    <style is:global>
      :root {
        --color-primary: #193174;
        --color-secondary: #27aae1;
        --color-accent: #67daff;
        --color-blue-purple: #797ef6;
        --color-grayish: #a4a4a6;
        --color-periwinkle: #888dff;
        --color-sky-blue: #a7e4f5;
        --color-custom-primary: rgba(25, 49, 116, 0.65);
        --header-height: 90px;
      }

      @font-face {
        font-family: 'Nexa Bold';
        src: url('/fonts/Nexa-Bold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Nexa Light';
        src: url('/fonts/Nexa-Light.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: system-ui, 'Nexa Bold', 'Nexa Light', 'Roboto', sans-serif;
        background: #fff;
      }
    </style>
  </body>
</html>
